.ui-control.item > .dratio-layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0.4rem;
    z-index: 3;

    pointer-events: none;
}

.ui-control.item > .dratio-layer img
{
    left: 0.3rem;
    bottom: 5.95rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;

    pointer-events: none;
}

.ui-control.item > .dratio-layer .label
{
    left: 1.5rem;
    bottom: 6.05rem;
    height: 1.0rem;
    position: absolute;

    text-align: left;
    line-height: 1.0rem;

    pointer-events: none;
}

.ui-control.item > .markc-layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0.4rem;
    z-index: 3;

    pointer-events: none;
}

.ui-control.item > .markc-layer img
{
    left: 0.3rem;
    bottom: 4.75rem;
    width: 1.15rem;
    height: 1.15rem;
    position: absolute;

    pointer-events: none;
}

.ui-control.item > .favorite-layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0.4rem;
    z-index: 4;

    pointer-events: none;
}

.ui-control.item > .favorite-layer img
{
    left: 0.25rem;
    bottom: 3.55rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;

    pointer-events: none;
}

.world-town-screen > .l-shop-dialog-container .content .row.is-content .l-button.is-sellall
{
    position: absolute;
    
    width: 5.2rem;
    height: 4.1rem;
    top: 26.0rem;
}

.character-screen-container .EIMO-settings
{
    
    left: 70.0rem;
    top: -25rem;
    width: 44.9rem;
    height: 25.0rem;

    position: absolute;
    
    /*overflow: hidden;*/
}

.character-screen-container .EIMO-settings .background
{
    width: 100%;
    height: 100%;

    left: 0;
    right: 0;
    top: 24.9rem;
    bottom: 0;

    position: relative;

    background-image: url("coui://gfx/ui/skin/popup_background_449x250.png");
    
    background-size: 35.8rem 25.0rem;
    background-repeat: no-repeat;
}

.character-screen-container .EIMO-settings .row
{
    width: 100%;
    height: 7.0rem;
    position: relative;
    float: left;
}

.character-screen-container .EIMO-settings .row .repair-threshold
{
    position: relative;
}

.character-screen-container .EIMO-settings .row .wait-threshold
{
    top: 0.0rem;
}

.character-screen-container .EIMO-settings .row .title
{
    left: 2.0rem;
    top: 1.0rem;
    position: relative;
    float: left;
}

.character-screen-container .EIMO-settings .row .scale-label
{
    left: 0.6rem;
    top: 1.5rem;
    position: relative;
    float: left;
}

.character-screen-container .EIMO-settings .row .scale-slider
{
    left: 0.5rem;
    top: -2.5rem;
    width: 30.0rem;
    height: 100%;
    position: relative;
    float: left;
    margin-bottom: 0.0rem;
}

.character-screen-container .EIMO-settings .row .l-button
{
    width: 5.2rem;
    height: 4.1rem;
    position: absolute;
    top: 6.5rem;

    line-height: 2.6rem;
}

.character-screen-container .EIMO-settings .row .l-button.EIMO-repair
{
    left: 1.0rem;
}

.character-screen-container .EIMO-settings .row .l-button.EIMO-visibility-level
{
    left: 6.0rem;
}

.character-screen-container .right-panel-module .is-right .l-button.EIMO-settings-button
{
    top: 0.2rem;
    width: 4.5rem;
    height: 4.1rem;
    left: -8rem;
}